In [1]:
import pandas as pd

## Load Data
Reading an Excel file, `Beauty Price Track.xlsx`, which contains beauty related purchase history from various retailers.

In [2]:
# makeup = pd.read_excel('../data/Beauty Price Track.xlsx', sheet_name='Makeup')
# skincare = pd.read_excel('../data/Beauty Price Track.xlsx', sheet_name='Skincare')
# haircare = pd.read_excel('../data/Beauty Price Track.xlsx', sheet_name='Haircare')
# personalcare = pd.read_excel('../data/Beauty Price Track.xlsx', sheet_name='Personal Care')

In [6]:
# Function to read the Excel sheet and assign a custom attribute for the sheet name
def read_excel_with_sheet_name(file_path, sheet_name):
    df = pd.read_excel(file_path, sheet_name=sheet_name)
    df.sheet_name = sheet_name
    return df

# Read the Excel file and load the specific sheets into DataFrames with custom attribute
makeup = read_excel_with_sheet_name('../data/Beauty Price Track.xlsx', 'Makeup')
skincare = read_excel_with_sheet_name('../data/Beauty Price Track.xlsx', 'Skincare')
haircare = read_excel_with_sheet_name('../data/Beauty Price Track.xlsx', 'Haircare')
personalcare = read_excel_with_sheet_name('../data/Beauty Price Track.xlsx', 'Personal Care')

## EDA

### Customize Functions

In [37]:
def sheetInfo(sheet):
    print(f'{sheet.sheet_name} has {sheet.shape[0]} rows and {sheet.shape[1]} columns: \n{sheet.columns}')
    print(sheet.info())
    display(sheet.head())  # Use display() in Jupyter Notebook to show the first 5 rows

def missingData(sheet, column_name=None):
    if column_name:
        column = sheet[column_name]
        print(f'{sheet.sheet_name} - {column_name} has {column.isnull().sum()} missing values')
    else:
        print(f'{sheet.sheet_name} has {sheet.isnull().sum().sum()} missing values: \n{sheet.isnull().sum()}')

In [3]:
''' 
Alternatively, you can use the following function to print the sheet information and missing data
by passing the sheet and sheet name as arguments to the functions.
'''
# def sheetInfo(sheet, sheet_name):
#     print(f'{sheet_name} has {sheet.shape[0]} rows and {sheet.shape[1]} columns: \n{sheet.columns}')
#     print(f'\nInformation: {sheet.info()}')
#     sheet.head()

# def missingData(sheet, sheet_name):
#     print(f'{sheet_name} has {sheet.isnull().sum().sum()} missing values: \n{sheet.isnull().sum()}')

# # Example usage
# sheetInfo(makeup, 'Makeup')
# missingData(makeup, 'Makeup')

### Calling Functions

In [24]:
sheetInfo(makeup)
missingData(makeup)

Makeup has 31 rows and 7 columns:
Index(['Date', 'Brand', 'Product Name', 'Color', 'Size', 'Retailer', 'Price'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          31 non-null     datetime64[ns]
 1   Brand         31 non-null     object
 2   Product Name  31 non-null     object
 3   Color         27 non-null     object
 4   Size          10 non-null     object
 5   Retailer      30 non-null     object
 6   Price         31 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 1.8+ KB
None

,Date,Brand,Product Name,Color,Size,Retailer,Price
0,2022-09-21 00:00:00,romand,Han All Fix Mascara,L02 Long Ash,NaN,Yesstyle,10.70
1,2022-09-21 00:00:00,AMUSE,Dew Tint,#12 Sunday,NaN,Yesstyle,16.00
2,2022-09-21 01:03:00,CLIO,"Sharp, So Simple Waterproof Pencil Liner",#02 Brown,NaN,Yesstyle,6.55
3,2022-09-21 01:03:00,romand,Glasting Water Tint,#08 Rose Stream,NaN,Yesstyle,8.40
4,2022-09-21 01:03:00,romand,Glasting Water Tint,#05 Rose Splash,NaN,Yesstyle,8.40

Makeup has 26 missing values:
Date             0
Brand            0
Product Name     0
Color            4
Size            21
Retailer         1
Price            0
dtype: int64

In [31]:
# print(makeup.query('Retailer == "NaN"'))
display(makeup[makeup['Retailer'].isnull()])

makeup['Retailer'].fillna('Amazon', inplace=True) # Fill missing values with 'Amazon'
# alternative codes: makeup.fillna({'Retailer': 'Amazon'}, inplace=True)

missingData(makeup, 'Retailer') # Check if missing values are filled

Empty DataFrame
Columns: [Date, Brand, Product Name, Color, Size, Retailer, Price]
Index: []

Makeup has 25 missing values:
Date             0
Brand            0
Product Name     0
Color            4
Size            21
Retailer         0
Price            0
dtype: int64

In [28]:
# startD = min(makeup['Date']) 

# if startD <= min(skincare['Date']) and startD <= min(haircare['Date']):
#     print(f'Start Date: {startD}')
# elif startD > min(skincare['Date']):
#     startD = min(skincare['Date'])
#     if startD <= min(haircare['Date']):
#         print(f'Start Date: {startD}')
#     else:
#         startD = min(haircare['Date'])
#         print(f'Start Date: {startD}')

Start Date: 2022-09-21 00:00:00

In [29]:
# endD = max(makeup['Date'])

# if endD >= max(skincare['Date']) and endD >= max(haircare['Date']):
#     print(f'End Date: {endD}')
# elif endD < max(skincare['Date']):
#     endD = max(skincare['Date'])
#     if endD >=max(haircare['Date']):
#         print(f'End Date: {endD}')
#     else:
#         endD = max(haircare['Date'])
#         print(f'End Date: {endD}')

End Date: 2024-11-16 00:00:00

In [27]:

# print(f'Total amount spent on Yesstyle Between {startD} and {endD}: ${sum(makeup['Price']) + sum(skincare['Price']) + sum(haircare['Price'])}')

Total amount spent on Yesstyle Between 2022-09-21 00:00:00 and 2024-11-16 00:00:00: $445.18